# MySQL 클라이언트 설정
[client]
# MySQL 클라이언트가 기본적으로 사용할 문자 세트를 utf8mb4로 설정합니다.
default-character-set = utf8mb4

# MySQL CLI 설정
[mysql]
# MySQL 명령줄 인터페이스가 기본적으로 사용할 문자 세트를 utf8mb4로 설정합니다.
default-character-set = utf8mb4

# MySQL 서버 설정
[mysqld]
# MySQL 서버의 기본 문자 세트를 utf8mb4로 설정합니다.
# utf8mb4는 유니코드 문자, 특히 이모티콘과 같은 4바이트 문자를 지원합니다.
character-set-server  = utf8mb4

# MySQL 서버의 기본 정렬 규칙을 utf8mb4_unicode_ci로 설정합니다.
# 'ci'는 대소문자 구분 없이 정렬하는 "case-insensitive"를 의미하며,
# Unicode 표준에 따라 텍스트를 정렬합니다.
collation-server      = utf8mb4_unicode_ci
